NODE_ENV=development
PORT=5000

# Cashfree Credentials (Get from Cashfree Merchant Dashboard -> Payment Gateway -> API Keys)
CASHFREE_CLIENT_ID=TEST430329ae80e0f32e41a393d78b923034
CASHFREE_CLIENT_SECRET=TESTaf195616268bd6202eeb3bf8dc458956e7192a85
CASHFREE_ENVIRONMENT=SANDBOX
CASHFREE_API_VERSION=2023-08-01

# Firebase Configuration
FIREBASE_DATABASE_URL=https://groomy-22576.firebaseio.com
GOOGLE_APPLICATION_CREDENTIALS=./groomy-22576-firebase-adminsdk-fbsvc-185c9b4215.json
